[submodule "openzeppelin-contracts"]
	path = openzeppelin-contracts
	url = git@github.com:OpenZeppelin/openzeppelin-contracts.git
[submodule "openzeppelin-contracts-upgradeable"]
	path = openzeppelin-contracts-upgradeable
	url = git@github.com:OpenZeppelin/openzeppelin-contracts-upgradeable.git
